// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$treeview-node-height: 20px;
$treeview-node-height-dense: 20px;
$treeview-node-padding: 0px;

$tooltip-background-color: #000;
$tooltip-padding: 5px 12px;
$tooltip-font-size: 13px;
$tooltip-text-color: #ccc;
